{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="{%static '/food/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Document</title>

</head>

<body>

  <nav class="navbar navbar-dark bg-dark">
    <a href="" class="navbar-brand">deshi food</a>
    <div class="navbar">
      <a href="{% url 'food:create_item' %}" class="navbar-brand">Add menu</a>
      <a href="" class="navbar-brand">Menu Item</a>
      <a href="" class="navbar-brand">Menu Item</a>
    </div>
  </nav>
  {% block body%}
  {% endblock %}
</body>

</html>